In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("midterm_dataset.csv")
df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,OFFER_TAKE_UP_DT,DATA_PURC_BEFORE,...,ACTIVITY_STATUS_AFTER,ID,PLAN_ID,PLAN_TYPE,VAS_ID,VAS_TYPE,YEAR,MONTH,DAY,QUARTER
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,0,1,Saver,2,Roaming,2022,10,6,4
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,1,2,Premium,1,Caller_tune,2022,10,6,4
2,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,DURING & AFTER CAMP,4,1,Saver,2,Roaming,2022,10,6,4
3,38,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,8,2,Premium,2,Roaming,2022,10,6,4
4,37,63,Male,Malaysia,PERAK,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,11,1,Saver,2,Roaming,2022,10,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,65,35,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,BEFORE & AFTER CAMP,722,2,Premium,1,Caller_tune,2022,10,6,4
447,149,29,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/5/2022,Y,...,NO ACTIVITY SINCE SEP,723,2,Premium,1,Caller_tune,2022,10,5,4
448,126,39,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,724,2,Premium,1,Caller_tune,2022,10,6,4
449,62,23,Male,Malaysia,TERENGGANU,Active,Active,Y,10/5/2022,Y,...,DURING & AFTER CAMP,725,2,Premium,2,Roaming,2022,10,5,4
450,29,61,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,726,2,Premium,2,Roaming,2022,10,6,4

In [5]:
df = df[["GENDER", "PLAN_TYPE", "OFFER_TAKER"]]
df = df[:15]
df

    GENDER PLAN_TYPE OFFER_TAKER
0     Male     Saver           Y
1     Male   Premium           Y
2     Male     Saver           Y
3     Male   Premium           Y
4     Male     Saver           Y
5   Female   Premium           Y
6     Male     Saver           Y
7     Male   Premium           Y
8     Male     Saver           Y
9   Female   Premium           Y
10    Male     Saver           Y
11    Male   Premium           Y
12  Female     Saver           Y
13    Male     Saver           Y
14  Female     Saver           Y

In [6]:
df.to_csv("decision_tree_dataset.csv")